{"openapi":"3.1.0","info":{"title":"OSOLAR-LINK API","version":"0.9.16","description":"### 개요\n오솔라 플랫폼에 등록된 발전소 데이터를 외부 시스템에서 조회·연동하기 위한 Open API입니다.\n본 API는 **대시보드 및 위젯 단위의 개발을 목적**으로 제공되며,\n**기본 인증은 `x-api-key` 헤더**를 사용합니다.\n\n**기본 URL**\n- `https://openapi.osolar.io`\n\n**주요 기능**\n- 🔎 발전소 검색 (GeoJSON)\n- 🔗 발전소 연동 및 링크 관리\n- ℹ️ 발전소 기본 정보 및 계약 정보 조회\n- 📄 발전소 관련 문서 목록 및 다운로드 링크 조회\n- 📊 월별 발전량 및 청구 매출 조회\n\n**사용 범위 안내**\n- 본 API는 **위젯 및 요약 화면 구성을 위한 데이터 제공**을 목적으로 합니다.\n- 이에 따라 오솔라 플랫폼의 전체 데이터셋은 포함되어 있지 않습니다.\n- 전체 데이터 연동 또는 확장 범위의 데이터 제공이 필요한 경우,\n  **오솔라와 별도 협의가 필요합니다.** (영업 문의: 010-5586-6923)\n\n**인증 방법**\n- 모든 요청 헤더에 `x-api-key: <발급된 키>` 를 포함해야 합니다.\n- API Key 분실, 회수 또는 권한 변경은 오솔라를 통해 문의해 주세요.\n\n**기간 조회 정책 (기본 제공 범위)**\n- 월별 발전량 및 청구 매출 API는 기본적으로 **최근 6개월 데이터**를 제공합니다.\n- 6개월을 초과하는 기간에 대한 조회는 오솔라와의 **별도 협의를 통해 확장 제공**됩니다.\n"},"servers":[{"url":"https://openapi.osolar.io","description":"Production"}],"paths":{"/v1/search":{"get":{"tags":["발전소 검색"],"summary":"발전소 검색 (GeoJSON)","description":"오솔라에 등록된 발전소 정보를 [GeoJSON](https://geojson.org/) 형식으로 조회하는 API입니다.\n\n- 반환 형식은 `FeatureCollection`이며, 각 발전소는 `Feature` 객체로 구성되어 있습니다.\n- `geometry` 필드에는 위도/경도 좌표 정보가, `properties` 필드에는 발전소 관련 상세 정보가 포함됩니다.\n\n`properties` 포함 정보:\n- `plant_uuid`: 발전소 고유 식별자 (UUID)\n- `plant_name`: 발전소명\n- `plant_address`: 발전소 주소\n- `plant_capacity`: 설비 용량 (kW)\n- `plant_owner`: 사업자 정보 (사업자번호, 회사명, 주소, 대표자명)\n\n검색 및 필터링 조건:\n- `q`: 발전소명, 주소, 사업자명 등 다양한 항목을 대상으로 전체 텍스트 검색을 수행합니다.\n- `field`: 검색 대상을 특정 필드로 제한할 수 있습니다 (예: `business_number`, `address` 등).\n- `address` + `distance_km`: 중심 주소 기준 반경(km) 내 발전소만 검색할 수 있습니다. (예: 반경 2km 이내)\n\n이 API는 지도 기반 UI에서 발전소 위치를 표시하거나, 공간 기반 필터링 기능을 구현할 때 활용됩니다.","operationId":"search_plants_geojson_v1_search_get","parameters":[{"name":"q","in":"query","required":true,"schema":{"type":"string","description":"검색 키워드입니다.\n- 발전소 이름, 주소, 회사명, 사업자번호 등 다양한 필드를 대상으로 전체 텍스트 검색을 수행합니다.\n- 예: `'광명시 오솔라'`, `'1234567890'`\n- `field` 파라미터와 함께 사용할 경우, 해당 필드에 국한된 검색이 수행됩니다.","title":"Q"},"description":"검색 키워드입니다.\n- 발전소 이름, 주소, 회사명, 사업자번호 등 다양한 필드를 대상으로 전체 텍스트 검색을 수행합니다.\n- 예: `'광명시 오솔라'`, `'1234567890'`\n- `field` 파라미터와 함께 사용할 경우, 해당 필드에 국한된 검색이 수행됩니다."},{"name":"field","in":"query","required":true,"schema":{"anyOf":[{"type":"string"}],"description":"검색 대상 필드를 지정합니다.\n- 가능한 값: `'business_number'`, `'address'`\n- 예(사업자등록번호를 통한 검색): `field=business_number` + `q=1234567890`\n- 예(주소를 통한 검색): `field=address` + `q=충청북도 증평군 도안면 광덕리 94`","title":"Field"},"description":"검색 대상 필드를 지정합니다.\n- 가능한 값: `'business_number'`, `'address'`\n- 예(사업자등록번호를 통한 검색): `field=business_number` + `q=1234567890`\n- 예(주소를 통한 검색): `field=address` + `q=충청북도 증평군 도안면 광덕리 94`"},{"name":"distance_km","in":"query","required":false,"schema":{"anyOf":[{"type":"number"},{"type":"null"}],"description":"중심 주소 기준 검색 반경 거리 (단위: km)\n- 기본값: `2.0km`, 최대 5.0km","title":"Distance Km"},"description":"중심 주소 기준 검색 반경 거리 (단위: km)\n- 기본값: `2.0km`, 최대 5.0km"},{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string","description":"클라이언트 Secret Key","title":"X-Api-Key"},"description":"클라이언트 Secret Key"}],"responses":{"200":{"description":"GeoJSON 형식으로 발전소 목록을 반환합니다.","content":{"application/geo+json":{"schema":{"$ref":"#/components/schemas/ApiResponse_PlantGeoJSONResponse_"},"example":{"success":true,"message":"발전소 정보입니다.","data":{"type":"FeatureCollection","features":[{"type":"Feature","geometry":{"type":"Point","coordinates":[126.88209,37.48098]},"properties":{"plant_uuid":"7a7e0ce6-8415-43e6-b444-daee9a940b56","plant_name":"오솔라 발전소 A","plant_address":"경기도 광명시 솔라로 1길 10","plant_capacity":99.9,"plant_owner":{"business_number":"1234567890","firm_name":"오솔라 주식회사","firm_address":"서울 강남구 테헤란로 123","representative_name":"홍길동"}}},{"type":"Feature","geometry":{"type":"Point","coordinates":[127.0302,37.26357]},"properties":{"plant_uuid":"8b4d2c6e-aaaa-4e6a-bbbb-deadbeef2222","plant_name":"오솔라 발전소 B","plant_address":"경기도 용인시 기흥구 솔라로 2길 20","plant_capacity":120.5,"plant_owner":{"business_number":"9876543210","firm_name":"오솔라 파트너사","firm_address":"경기도 용인시 기흥구 테크노로 45","representative_name":"김영희"}}}]}},"examples":{"Success":{"summary":"GeoJSON 형식 발전소 검색 결과 예시","value":{"success":true,"message":"발전소 정보입니다.","data":{"type":"FeatureCollection","features":[{"type":"Feature","geometry":{"type":"Point","coordinates":[126.88209,37.48098]},"properties":{"plant_uuid":"7a7e0ce6-8415-43e6-b444-daee9a940b56","plant_name":"오솔라 발전소 A","plant_address":"경기도 광명시 솔라로 1길 10","plant_capacity":99.9,"plant_owner":{"business_number":"1234567890","firm_name":"오솔라 주식회사","firm_address":"서울 강남구 테헤란로 123","representative_name":"홍길동"}}},{"type":"Feature","geometry":{"type":"Point","coordinates":[127.0302,37.26357]},"properties":{"plant_uuid":"8b4d2c6e-aaaa-4e6a-bbbb-deadbeef2222","plant_name":"오솔라 발전소 B","plant_address":"경기도 용인시 기흥구 솔라로 2길 20","plant_capacity":120.5,"plant_owner":{"business_number":"9876543210","firm_name":"오솔라 파트너사","firm_address":"경기도 용인시 기흥구 테크노로 45","representative_name":"김영희"}}}]}}}}},"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse_PlantGeoJSONResponse_"},"example":{"success":true,"message":"발전소 정보입니다.","data":{"type":"FeatureCollection","features":[{"type":"Feature","geometry":{"type":"Point","coordinates":[126.88209,37.48098]},"properties":{"plant_uuid":"7a7e0ce6-8415-43e6-b444-daee9a940b56","plant_name":"오솔라 발전소 A","plant_address":"경기도 광명시 솔라로 1길 10","plant_capacity":99.9,"plant_owner":{"business_number":"1234567890","firm_name":"오솔라 주식회사","firm_address":"서울 강남구 테헤란로 123","representative_name":"홍길동"}}},{"type":"Feature","geometry":{"type":"Point","coordinates":[127.0302,37.26357]},"properties":{"plant_uuid":"8b4d2c6e-aaaa-4e6a-bbbb-deadbeef2222","plant_name":"오솔라 발전소 B","plant_address":"경기도 용인시 기흥구 솔라로 2길 20","plant_capacity":120.5,"plant_owner":{"business_number":"9876543210","firm_name":"오솔라 파트너사","firm_address":"경기도 용인시 기흥구 테크노로 45","representative_name":"김영희"}}}]}},"examples":{"Success":{"summary":"GeoJSON 형식 발전소 검색 결과 예시","value":{"success":true,"message":"발전소 정보입니다.","data":{"type":"FeatureCollection","features":[{"type":"Feature","geometry":{"type":"Point","coordinates":[126.88209,37.48098]},"properties":{"plant_uuid":"7a7e0ce6-8415-43e6-b444-daee9a940b56","plant_name":"오솔라 발전소 A","plant_address":"경기도 광명시 솔라로 1길 10","plant_capacity":99.9,"plant_owner":{"business_number":"1234567890","firm_name":"오솔라 주식회사","firm_address":"서울 강남구 테헤란로 123","representative_name":"홍길동"}}},{"type":"Feature","geometry":{"type":"Point","coordinates":[127.0302,37.26357]},"properties":{"plant_uuid":"8b4d2c6e-aaaa-4e6a-bbbb-deadbeef2222","plant_name":"오솔라 발전소 B","plant_address":"경기도 용인시 기흥구 솔라로 2길 20","plant_capacity":120.5,"plant_owner":{"business_number":"9876543210","firm_name":"오솔라 파트너사","firm_address":"경기도 용인시 기흥구 테크노로 45","representative_name":"김영희"}}}]}}}}}}},"403":{"description":"조회 권한이 없는 경우","content":{"application/json":{"example":{"success":false,"message":"조회 권한이 없습니다."}}}}},"security":[{"APIKeyHeader":[]}]}},"/v1/links":{"post":{"tags":["발전소 연결"],"summary":"발전소 연결 요청","description":"외부 클라이언트가 오솔라 플랫폼에 등록된 특정 발전소에 대한 정보 연동을 요청하는 API입니다.\n\n- 이 API를 호출하면 지정된 발전소에 대한 조회 권한 요청이 생성되며,\n  요청이 승인되면 해당 발전소의 **기본 정보, 계약 정보, 운영 현황** 등에 접근할 수 있습니다.\n- 요청은 일반적으로 자동 승인되지만, 일부 경우에는 내부 정책에 따라 별도의 승인이 필요할 수 있습니다.\n- `link_id`를 요청 시 명시하지 않으면, 해당 발전소의 `plant_uuid`가 자동으로 link_id로 사용됩니다.\n\n응답에는 다음 정보가 포함됩니다:\n- `link_id`: 생성된 발전소 연결 식별자\n- `created_at`: 요청 생성 시각 (Zone 정보가 없는 ISO8601 형식, 예: 2024-05-16T14:12:00)","operationId":"link_plant_v1_links_post","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string","description":"클라이언트 Secret Key","title":"X-Api-Key"},"description":"클라이언트 Secret Key"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PlantLinkRequest","description":"발전소 링크 요청 본문"},"examples":{"link_id_지정":{"summary":"클라이언트가 link_id를 직접 지정한 경우","description":"클라이언트가 외부 시스템 식별자를 명시적으로 설정함","value":{"link_id":"12345","plant_uuid":"7a7e0ce6-8415-43e6-b444-daee9a940b56","remark":"RTU 연동"}},"link_id_생략":{"summary":"클라이언트가 ink_id 없이 요청한 경우","description":"plant_uuid가 link_id로 자동 사용됨","value":{"plant_uuid":"7a7e0ce6-8415-43e6-b444-daee9a940b56","remark":"매물번호 연동"}}}}}},"responses":{"200":{"description":"정상적으로 발전소가 연결됨","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse_PlantLinkResponse_"},"examples":{"1. 클라이언트가 link_id를 제공한 경우":{"summary":"클라이언트가 link_id를 제공한 경우","description":"클라이언트가 제공한 link_id가 발전소 식별자로 사용됨","value":{"success":true,"message":"OK","data":{"link_id":"12345","created_at":"2024-05-16T14:12:00"}}},"2. 클라이언트가 link_id를 제공하지 않은 경우":{"summary":"클라이언트가 link_id를 제공하지 않은 경우","description":"오솔라 plant_uuid가 link_id로 사용됨","value":{"success":true,"message":"OK","data":{"link_id":"7a7e0ce6-8415-43e6-b444-daee9a940b56","created_at":"2024-05-16T14:12:00"}}}}}}},"400":{"description":"잘못된 요청 (예: 필수 값 누락, 이미 연결된 발전소 등)","content":{"application/json":{"examples":{"MissingFields":{"summary":"필수 값 누락","value":{"success":false,"message":"필수 값이 누락되었습니다."}},"AlreadyLinked":{"summary":"이미 링크된 발전소","value":{"success":false,"message":"이미 연결된 발전소입니다."}}}}}},"403":{"description":"권한이 없는 경우","content":{"application/json":{"example":{"success":false,"message":"권한이 없습니다."}}}}},"security":[{"APIKeyHeader":[]}]},"get":{"tags":["발전소 연결"],"summary":"연동된 발전소 목록 조회","description":"해당 API는 오솔라에 등록된 발전소 중, 외부 클라이언트와 연결(Link)된 발전소 목록을 조회합니다.\n\n- 클라이언트는 사전에 오솔라에 발전소 연결 요청(`/clients/{client_id}/links`)을 통해 발전소와 연결되어 있어야 합니다.\n- 연결된 각 발전소는 link_id를 통해 식별되며, link_id는 클라이언트가 지정하거나, 지정하지 않을 경우 오솔라의 plant_uuid가 자동으로 사용됩니다.\n- 응답 데이터에는 발전소의 이름, 주소, 비고(remark) 등의 정보가 포함되어 있으며, 클라이언트는 link_id를 기준으로 발전소를 식별하고 관리할 수 있습니다.\n\nlink_id 처리 방식:\n- 클라이언트가 직접 link_id를 지정한 경우 → 해당 값이 그대로 사용됩니다.\n- 클라이언트가 link_id를 제공하지 않은 경우 → 오솔라의 발전소 UUID(plant_uuid)가 link_id로 자동 할당됩니다.","operationId":"get_linked_plants_v1_links_get","parameters":[{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string","description":"클라이언트 Secret Key","title":"X-Api-Key"},"description":"클라이언트 Secret Key"}],"responses":{"200":{"description":"정상적으로 연결된 발전소 목록이 반환됨","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse_List_PlantLinkListResponse__"},"examples":{"1. 클라이언트가 link_id를 제공한 경우":{"summary":"클라이언트가 제공한 link_id가 발전소 식별자로 사용됨","value":{"success":true,"message":"OK","data":[{"link_id":"12345","plant_name":"오솔라 발전소 A","plant_address":"경기도 광명시 솔라로 1길 10","remark":"RTU#012345678 연동","created_at":"2024-05-16T14:12:00"},{"link_id":"12346","plant_name":"오솔라 발전소 B","plant_address":"경기도 광명시 솔라로 2길 20","remark":"RTU#098765432 연동","created_at":"2024-05-16T14:12:00"}]}},"2. 클라이언트가 link_id를 제공하지 않은 경우":{"summary":"오솔라 plant_uuid가 link_id로 사용됨","value":{"success":true,"message":"OK","data":[{"link_id":"7a7e0ce6-8415-43e6-b444-daee9a940b56","plant_name":"오솔라 발전소 A","plant_address":"경기도 광명시 솔라로 1길 10","remark":"매물번호 #12344","created_at":"2024-05-16T14:12:00"},{"link_id":"8b4d2c6e-aaaa-4e6a-bbbb-deadbeef2222","plant_name":"오솔라 발전소 B","plant_address":"경기도 광명시 솔라로 2길 20","remark":"매물번호 #12345","created_at":"2024-05-16T14:12:00"}]}}}}}},"403":{"description":"조회 권한이 없는 경우","content":{"application/json":{"example":{"success":false,"message":"조회 권한이 없습니다."}}}}},"security":[{"APIKeyHeader":[]}]}},"/v1/links/{link_id}":{"get":{"tags":["발전소 정보"],"summary":"연결된 발전소 기본 정보 조회","description":"외부 클라이언트가 오솔라 플랫폼과 사전에 연동한 발전소의 상세 정보를 조회하는 API입니다.\n\n요청 경로에 포함된 `link_id`는 클라이언트가 발전소 연동 시 직접 지정한 식별자이거나,\n`link_id`를 생략한 경우에는 오솔라의 `plant_uuid`가 자동으로 사용되어 저장된 값입니다.\n\n이 API를 호출하면, 해당 `link_id`에 매핑된 발전소의 다음과 같은 정보를 반환합니다:\n- 발전소 이름 및 주소\n- 위치 정보 (GeoJSON Point 형식)\n- 발전소 설비 용량 (kW)\n- 발전소 설비 확인 상태\n- 발전소 설비 가중치\n- 사업자 정보 (사업자번호, 회사명, 주소, 대표자명)\n\n참고:\n- 이 API는 오직 사전에 `/clients/{client_id}/links` API를 통해 연동이 완료된 발전소에 한해 동작합니다.\n- 존재하지 않거나 권한이 없는 `link_id`를 조회할 경우 400 에러가 반환됩니다.","operationId":"get_plant_info_v1_links__link_id__get","parameters":[{"name":"link_id","in":"path","required":true,"schema":{"type":"string","description":"연결된 발전소 식별자","title":"Link Id"},"description":"연결된 발전소 식별자"},{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string","description":"클라이언트 Secret Key","title":"X-Api-Key"},"description":"클라이언트 Secret Key"}],"responses":{"200":{"description":"발전소 기본 정보 조회 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse_PlantInfoResponse_"},"example":{"success":true,"message":"OK","data":{"link_id":"1","plant_name":"오솔라 1호 발전소","plant_address":"경기도 광명시 솔라로 1길 10","plant_geometry":{"type":"Point","coordinates":[127.12345,37.12345]},"plant_capacity":"99.9","plant_certified":true,"plant_owner":{"business_number":"1234567890","firm_name":"오솔라 주식회사","firm_address":"서울 강남구 테헤란로 123","representative_name":"홍길동"}}},"examples":{"Success":{"summary":"발전소 기본 정보 조회 성공 예시","value":{"success":true,"message":"OK","data":{"link_id":"1","plant_name":"오솔라 1호 발전소","plant_address":"경기도 광명시 솔라로 1길 10","plant_geometry":{"type":"Point","coordinates":[127.12345,37.12345]},"plant_capacity":"99.9","plant_certified":true,"plant_owner":{"business_number":"1234567890","firm_name":"오솔라 주식회사","firm_address":"서울 강남구 테헤란로 123","representative_name":"홍길동"}}}}}}}},"400":{"description":"요청한 발전소에 대한 데이터가 없는 경우","content":{"application/json":{"example":{"success":false,"message":"해당 link_id에 대한 발전소를 찾을 수 없습니다."}}}},"403":{"description":"조회 권한이 없는 경우","content":{"application/json":{"example":{"success":false,"message":"조회 권한이 없습니다."}}}}},"security":[{"APIKeyHeader":[]}]}},"/v1/links/{link_id}/contract":{"get":{"tags":["발전소 정보"],"summary":"연결된 발전소의 계약 정보 조회","description":"외부 클라이언트와 연결된 특정 발전소의 계약 정보를 조회하는 API입니다.\n\n- `link_id`는 발전소 연동 시 클라이언트가 지정한 외부 식별자이거나 오솔라가 부여한 발전소 식별자이며, 이를 통해 연결된 발전소를 식별합니다.\n- 해당 발전소가 RPS 또는 PPA와 같은 계약을 체결하고 있는 경우, 관련 정보가 반환됩니다.\n\n응답 항목 설명:\n- `ppa_type`: 전력 판매 계약 방식 (예: '한국전력공사', '전력거래소', '직접 PPA')\n\n- `rec_trade_type`: REC 거래 유형 (예: 'RPS고정계약', '현물')\n- `rec_fixed_contract`: 고정계약 방식이 있는 계약정보 상세 내역을 표시\n연결된 발전소가 존재하지 않거나 계약 정보가 없는 경우 400 응답이 반환됩니다.","operationId":"get_plant_contract_info_v1_links__link_id__contract_get","parameters":[{"name":"link_id","in":"path","required":true,"schema":{"type":"string","description":"연결된 발전소 식별자","title":"Link Id"},"description":"연결된 발전소 식별자"},{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string","description":"클라이언트 Secret Key","title":"X-Api-Key"},"description":"클라이언트 Secret Key"}],"responses":{"200":{"description":"정상적으로 계약 정보 데이터 반환","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse_PlantContractResponse_"},"examples":{"1. 고정가격계약 응답":{"summary":"발전소 REC 거래가 고정가격계약인 경우","description":"고정가격계약 정보를 포함한 응답","value":{"success":true,"message":"OK","data":{"ppa_type":"한국전력공사","rec_trade_type":"고정가격계약","rec_fixed_contract":{"target":"동서발전","price_type":"SMP+1REC*가중치","price":165000,"start_date":"2018-01-01","end_date":"2028-12-31","contract_years":10}}}},"2. 현물시장 응답":{"summary":"발전소 REC 거래가 현물시장인 경우","description":"고정가격계약 정보를 포함하지 않은 응답","value":{"success":true,"message":"OK","data":{"ppa_type":"한국전력공사","rec_trade_type":"현물시장"}}}}}}},"400":{"description":"요청한 발전소에 대한 데이터가 없는 경우","content":{"application/json":{"example":{"success":false,"message":"계약 정보가 존재하지 않습니다."}}}},"403":{"description":"조회 권한이 없는 경우","content":{"application/json":{"example":{"success":false,"message":"조회 권한이 없습니다."}}}}},"security":[{"APIKeyHeader":[]}]}},"/v1/links/{link_id}/documents":{"get":{"tags":["발전소 정보"],"summary":"링크된 발전소의 문서 목록 및 다운로드 링크 조회","description":"해당 API는 클라이언트가 연동한 발전소(`link_id`)에 제출된 주요 문서 목록을 조회하고, **파일 다운로드 링크**까지 함께 반환합니다.\n\n- 해당 발전소의 현황에 따라 **문서가 존재하지 않을 수도 있습니다.** (이 경우 빈 배열이 반환됩니다.)\n\n문서 항목에는 다음 정보가 포함됩니다:\n- `document_code`: 문서 분류 코드 (예: 'OSR-0001') — 시스템 내 고유 식별자\n- `document_name`: 문서 명칭 (예: '준공도면', '모듈인증서') — 사용자에게 표시할 이름\n- `file_name`: 실제 파일 이름 — 다운로드 시 표시됨\n- `file_type`: MIME 타입 (예: 'application/pdf') — 파일 형식 구분에 사용\n- `download_link`: 해당 파일의 다운로드 링크 (presigned URL 또는 proxy API)\n\n보안:\n- 해당 API는 `API Key` 기반 인증을 통해 **인증된 클라이언트만 문서 목록을 조회**할 수 있습니다.\n- 응답에 포함된 `download_link`는 presigned URL 또는 인증된 다운로드 API 경로로, **직접적으로 S3 또는 스토리지에 접근 가능한 링크**입니다.\n- 링크는 일정 시간 동안만 유효하거나, 서버 인증 후 발급된 형식일 수 있으며, 외부 유출 시 접근 제한됩니다.\n\n이 API는 발전소 관련 보고서, 등록자료, 계약 문서 등\n**서류 기반의 검토, 다운로드, 전자서명 처리 등을 위한 전처리 단계**로 활용됩니다.","operationId":"get_plant_documents_v1_links__link_id__documents_get","parameters":[{"name":"link_id","in":"path","required":true,"schema":{"type":"string","description":"연결된 발전소 식별자","title":"Link Id"},"description":"연결된 발전소 식별자"},{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string","description":"클라이언트 Secret Key","title":"X-Api-Key"},"description":"클라이언트 Secret Key"}],"responses":{"200":{"description":"정상적으로 문서 목록 데이터 반환","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse_List_DocumentResponse__"},"example":{"success":true,"message":"OK","data":[{"document_id":"220d0bc5-8d98-4e91-b678-bcf3d3413f8c","document_code":"OSR-KA100","document_name":"준공도면","file_name":"준공도면.pdf","download_url":"/v1/documents/220d0bc5-8d98-4e91-b678-bcf3d3413f8c/download"},{"document_id":"42d369c8-658b-4c3e-866e-f3bb05edba30","document_code":"OSR-KA101","document_name":"토지대장","file_name":"토지대장.pdf","download_url":"/v1/documents/42d369c8-658b-4c3e-866e-f3bb05edba30/download"},{"document_id":"2fc96437-943d-47c1-ac57-ac45aedd75ae","document_code":"OSR-KA102","document_name":"모듈인증서","file_name":"module_cert.pdf","download_url":"/v1/documents/2fc96437-943d-47c1-ac57-ac45aedd75ae/download"}]}}}},"400":{"description":"요청한 발전소에 정보가 없는 경우","content":{"application/json":{"example":{"success":false,"message":"발전소 정보가 존재하지 않습니다."}}}},"403":{"description":"조회 권한이 없는 경우","content":{"application/json":{"example":{"success":false,"message":"조회 권한이 없습니다."}}}}},"security":[{"APIKeyHeader":[]}]}},"/v1/links/{link_id}/overview":{"get":{"tags":["발전소 운영 현황"],"summary":"발전소 운영 현황 개요 조회","description":"클라이언트가 연동한 특정 발전소의 **최근 6개월간의 운영 현황 요약 정보**를 조회하는 API입니다.\n\n- `link_id`를 통해 연결된 발전소를 식별하며, 발전소의 최근 청구 이력 및 주요 업무 처리 상태를 확인할 수 있습니다.\n\n응답 데이터 구성:\n- `plant_name`: 발전소 이름\n- `billing_summary`: 최근 청구 내역 (월별 청구 금액: 청구월 SMP, REC(고정가격계약) )\n- `recent_tasks`: 발전소 관련 주요 업무 이력 (REC 발급, 청구 처리 등)\n\n이 API는 관리자 대시보드, 발전소 요약 화면 등에서 **청구/운영 상태를 빠르게 파악**하는 용도로 활용됩니다.","operationId":"get_plant_overview_v1_links__link_id__overview_get","parameters":[{"name":"link_id","in":"path","required":true,"schema":{"type":"string","description":"연결된 발전소 식별자","title":"Link Id"},"description":"연결된 발전소 식별자"},{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string","description":"클라이언트 Secret Key","title":"X-Api-Key"},"description":"클라이언트 Secret Key"}],"responses":{"200":{"description":"정상적으로 운영 현황 데이터 반환","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse_PlantOverviewResponse_"},"example":{"success":true,"message":"발전소 운영 현황입니다.","data":{"link_id":"1","plant_name":"오솔라 1호 발전소","billing_summary":[{"billing_month":"2026-01","smp_billing_amount":3123456,"rec_billing_amount":2987654},{"billing_month":"2025-12","smp_billing_amount":3012345,"rec_billing_amount":2876543},{"billing_month":"2025-11","smp_billing_amount":2890123,"rec_billing_amount":2765432},{"billing_month":"2025-10","smp_billing_amount":2789012,"rec_billing_amount":2654321},{"billing_month":"2025-09","smp_billing_amount":2678901,"rec_billing_amount":2543210},{"billing_month":"2025-08","smp_billing_amount":2567890,"rec_billing_amount":2432109}],"recent_tasks":[{"date":"2026-01-25","name":"REC 발급","type":"REC_ISSUANCE","status":"진행중","summary":"120 REC 수수료 6,600원","value":"발전량 12,000kWh"},{"date":"2026-01-16","name":"SMP 청구","type":"SMP_BILLING","status":"완료","summary":"25년 12월 발전량","value":"발전량 12,000kWh 청구액 3,012,345원"},{"date":"2026-01-10","name":"RPS 청구","type":"REC_BILLING","status":"완료","summary":"25년 12월 발전량","value":"발전량 12,000kWh 청구액 2,876,543원"}]}},"examples":{"Success":{"summary":"발전소 운영 현황 개요 조회 성공 예시","value":{"success":true,"message":"발전소 운영 현황입니다.","data":{"link_id":"1","plant_name":"오솔라 1호 발전소","billing_summary":[{"billing_month":"2026-01","smp_billing_amount":3123456,"rec_billing_amount":2987654},{"billing_month":"2025-12","smp_billing_amount":3012345,"rec_billing_amount":2876543},{"billing_month":"2025-11","smp_billing_amount":2890123,"rec_billing_amount":2765432},{"billing_month":"2025-10","smp_billing_amount":2789012,"rec_billing_amount":2654321},{"billing_month":"2025-09","smp_billing_amount":2678901,"rec_billing_amount":2543210},{"billing_month":"2025-08","smp_billing_amount":2567890,"rec_billing_amount":2432109}],"recent_tasks":[{"date":"2026-01-25","name":"REC 발급","type":"REC_ISSUANCE","status":"진행중","summary":"120 REC 수수료 6,600원","value":"발전량 12,000kWh"},{"date":"2026-01-16","name":"SMP 청구","type":"SMP_BILLING","status":"완료","summary":"25년 12월 발전량","value":"발전량 12,000kWh 청구액 3,012,345원"},{"date":"2026-01-10","name":"RPS 청구","type":"REC_BILLING","status":"완료","summary":"25년 12월 발전량","value":"발전량 12,000kWh 청구액 2,876,543원"}]}}}}}}},"400":{"description":"요청한 발전소에 정보가 없는 경우","content":{"application/json":{"example":{"success":false,"message":"발전소 정보가 존재하지 않습니다."}}}},"403":{"description":"조회 권한이 없는 경우","content":{"application/json":{"example":{"success":false,"message":"조회 권한이 없습니다."}}}}},"security":[{"APIKeyHeader":[]}]}},"/v1/links/{link_id}/generation/monthly":{"get":{"tags":["발전소 운영 현황"],"summary":"연결된 발전소의 월별 발전량 조회","description":"클라이언트가 연동한 특정 발전소의 **월별 발전량(kWh)을 조회**하는 API입니다.\n\n**기간 조회 정책**\n- 기본적으로 **최근 6개월 데이터만 제공**합니다.\n- 기간 확장 조회는 **오솔라와 업무 협약이 되어있는 고객에 한해 제공**됩니다.\n- 협약 대상이 아닌 고객이 기간 파라미터를 전달하더라도 서버는 이를 **무시**하고 최근 6개월만 반환합니다.\n\n응답 항목:\n- `generation_month`: 발전량이 집계된 연월 (예: '2024-01')\n- `generation_amount`: 해당 발전소의 월별 발전량 (단위: kWh)\n- `nearby_generation_amount`: 인근 발전소들의 평균 발전량 (단위: kWh)\n\n📌 참고:\n- `start_year`는 `end_year`보다 클 수 없습니다. 위반 시 400 에러가 발생합니다.\n- 월별 발전량은 주로 발전 효율 분석, 정산 매출 비교, 대시보드 시각화 등에 활용됩니다.","operationId":"get_monthly_generation_v1_links__link_id__generation_monthly_get","parameters":[{"name":"link_id","in":"path","required":true,"schema":{"type":"string","description":"연결된 발전소 식별자","title":"Link Id"},"description":"연결된 발전소 식별자"},{"name":"start_year","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"조회 시작 연도 (예: 2022).\n- 기간 확장 조회는 오솔라와 업무 협약이 되어있는 고객에 한해 제공됩니다.\n- 협약 대상이 아니면 전달해도 무시됩니다(최근 6개월만 반환).","title":"Start Year"},"description":"조회 시작 연도 (예: 2022).\n- 기간 확장 조회는 오솔라와 업무 협약이 되어있는 고객에 한해 제공됩니다.\n- 협약 대상이 아니면 전달해도 무시됩니다(최근 6개월만 반환)."},{"name":"end_year","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"조회 종료 연도 (예: 2024).\n- 기간 확장 조회는 오솔라와 업무 협약이 되어있는 고객에 한해 제공됩니다.\n- 협약 대상이 아니면 전달해도 무시됩니다(최근 6개월만 반환).","title":"End Year"},"description":"조회 종료 연도 (예: 2024).\n- 기간 확장 조회는 오솔라와 업무 협약이 되어있는 고객에 한해 제공됩니다.\n- 협약 대상이 아니면 전달해도 무시됩니다(최근 6개월만 반환)."},{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string","description":"클라이언트 Secret Key","title":"X-Api-Key"},"description":"클라이언트 Secret Key"}],"responses":{"200":{"description":"정상적으로 월별 발전량 데이터 반환","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse_List_GenerationAmountResponse__"},"example":{"success":true,"message":"월별 발전량 정보입니다.","data":[{"generation_month":"2025-03","generation_amount":1500,"nearby_generation_amount":1600},{"generation_month":"2025-02","generation_amount":1500,"nearby_generation_amount":1600},{"generation_month":"2025-01","generation_amount":1500,"nearby_generation_amount":1600},{"generation_month":"2024-12","generation_amount":1500,"nearby_generation_amount":1600},{"generation_month":"2024-11","generation_amount":1500,"nearby_generation_amount":1600},{"generation_month":"2024-10","generation_amount":1500,"nearby_generation_amount":1600},{"generation_month":"2024-09","generation_amount":1500,"nearby_generation_amount":1600},{"generation_month":"2024-08","generation_amount":1500,"nearby_generation_amount":1600},{"generation_month":"2024-07","generation_amount":1500,"nearby_generation_amount":1600},{"generation_month":"2024-06","generation_amount":1500,"nearby_generation_amount":1600},{"generation_month":"2024-05","generation_amount":1500,"nearby_generation_amount":1600},{"generation_month":"2024-04","generation_amount":1500,"nearby_generation_amount":1600},{"generation_month":"2024-03","generation_amount":1500,"nearby_generation_amount":1600},{"generation_month":"2024-02","generation_amount":1500,"nearby_generation_amount":1600},{"generation_month":"2024-01","generation_amount":1500,"nearby_generation_amount":1600},{"generation_month":"2023-12","generation_amount":1500,"nearby_generation_amount":1600}]}}}},"400":{"description":"요청한 발전소에 정보가 없는 경우","content":{"application/json":{"example":{"success":false,"message":"발전소 정보가 존재하지 않습니다."}}}},"403":{"description":"조회 권한이 없는 경우","content":{"application/json":{"example":{"success":false,"message":"조회 권한이 없습니다."}}}}},"security":[{"APIKeyHeader":[]}]}},"/v1/links/{link_id}/billing/monthly":{"get":{"tags":["발전소 운영 현황"],"summary":"연결된 발전소의 월별 청구 매출 조회","description":"지정된 클라이언트와 연동된 발전소에 대해 **월별 청구 매출 데이터를 조회**하는 API입니다.\n\n**기간 조회 정책**\n- 기본적으로 **최근 6개월 데이터만 제공**합니다.\n- 기간 확장 조회는 **오솔라와 업무 협약이 되어있는 고객에 한해 제공**됩니다.\n- 협약 대상이 아닌 고객이 기간 파라미터를 전달하더라도 서버는 이를 **무시**하고 최근 6개월만 반환합니다.\n\n응답 항목:\n- `billing_month`: 매출이 발생한 연도-월 (YYYY-MM 형식)\n- `smp_billing_amount`: 해당 월에 청구된 총 SMP 청구 금액 (단위: 원)\n- `rec_billing_amount`: 해당 월에 청구된 총 REC(고정가격계약) 청구 금액 (단위: 원)\n\n이 API는 발전소의 **수익 추이, 정산 분석, 그래프 시각화** 등에 활용될 수 있습니다.","operationId":"get_monthly_revenue_v1_links__link_id__billing_monthly_get","parameters":[{"name":"link_id","in":"path","required":true,"schema":{"type":"string","description":"연결된 발전소 식별자","title":"Link Id"},"description":"연결된 발전소 식별자"},{"name":"startYear","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"조회 시작 연도 (예: 2022).\n- 기간 확장 조회는 오솔라와 업무 협약이 되어있는 고객에 한해 제공됩니다.\n- 협약 대상이 아니면 전달해도 무시됩니다(최근 6개월만 반환).","title":"StartYear"},"description":"조회 시작 연도 (예: 2022).\n- 기간 확장 조회는 오솔라와 업무 협약이 되어있는 고객에 한해 제공됩니다.\n- 협약 대상이 아니면 전달해도 무시됩니다(최근 6개월만 반환)."},{"name":"endYear","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"조회 종료 연도 (예: 2024).\n- 기간 확장 조회는 오솔라와 업무 협약이 되어있는 고객에 한해 제공됩니다.\n- 협약 대상이 아니면 전달해도 무시됩니다(최근 6개월만 반환).","title":"EndYear"},"description":"조회 종료 연도 (예: 2024).\n- 기간 확장 조회는 오솔라와 업무 협약이 되어있는 고객에 한해 제공됩니다.\n- 협약 대상이 아니면 전달해도 무시됩니다(최근 6개월만 반환)."},{"name":"x-api-key","in":"header","required":true,"schema":{"type":"string","description":"클라이언트 Secret Key","title":"X-Api-Key"},"description":"클라이언트 Secret Key"}],"responses":{"200":{"description":"정상적으로 월별 매출 데이터 반환","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse_List_BillingAmountResponse__"},"example":{"success":true,"message":"OK","data":[{"billing_month":"2025-03","smp_billing_amount":3000000,"rec_billing_amount":2800000},{"billing_month":"2025-02","smp_billing_amount":2800000,"rec_billing_amount":2800000},{"billing_month":"2025-01","smp_billing_amount":2800000,"rec_billing_amount":2800000},{"billing_month":"2024-12","smp_billing_amount":2800000,"rec_billing_amount":2800000},{"billing_month":"2024-11","smp_billing_amount":2800000,"rec_billing_amount":2800000},{"billing_month":"2024-10","smp_billing_amount":2800000,"rec_billing_amount":2800000},{"billing_month":"2024-09","smp_billing_amount":2800000,"rec_billing_amount":2800000},{"billing_month":"2024-08","smp_billing_amount":2800000,"rec_billing_amount":2800000}]},"examples":{"Success":{"summary":"월별 매출 데이터 조회 성공 예시","value":{"success":true,"message":"OK","data":[{"billing_month":"2025-03","smp_billing_amount":3000000,"rec_billing_amount":2800000},{"billing_month":"2025-02","smp_billing_amount":2800000,"rec_billing_amount":2800000},{"billing_month":"2025-01","smp_billing_amount":2800000,"rec_billing_amount":2800000},{"billing_month":"2024-12","smp_billing_amount":2800000,"rec_billing_amount":2800000},{"billing_month":"2024-11","smp_billing_amount":2800000,"rec_billing_amount":2800000},{"billing_month":"2024-10","smp_billing_amount":2800000,"rec_billing_amount":2800000},{"billing_month":"2024-09","smp_billing_amount":2800000,"rec_billing_amount":2800000},{"billing_month":"2024-08","smp_billing_amount":2800000,"rec_billing_amount":2800000}]}}}}}},"400":{"description":"요청한 발전소에 정보가 없는 경우","content":{"application/json":{"example":{"success":false,"message":"발전소 정보가 존재하지 않습니다."}}}},"403":{"description":"조회 권한이 없는 경우","content":{"application/json":{"example":{"success":false,"message":"조회 권한이 없습니다."}}}}},"security":[{"APIKeyHeader":[]}]}}},"components":{"schemas":{"ApiResponse_List_BillingAmountResponse__":{"properties":{"success":{"type":"boolean","title":"Success","description":"응답 상태"},"message":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Message","description":"응답 메시지"},"data":{"anyOf":[{"items":{"$ref":"#/components/schemas/BillingAmountResponse"},"type":"array"},{"type":"null"}],"title":"Data"}},"type":"object","required":["success"],"title":"ApiResponse[List[BillingAmountResponse]]"},"ApiResponse_List_DocumentResponse__":{"properties":{"success":{"type":"boolean","title":"Success","description":"응답 상태"},"message":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Message","description":"응답 메시지"},"data":{"anyOf":[{"items":{"$ref":"#/components/schemas/DocumentResponse"},"type":"array"},{"type":"null"}],"title":"Data"}},"type":"object","required":["success"],"title":"ApiResponse[List[DocumentResponse]]"},"ApiResponse_List_GenerationAmountResponse__":{"properties":{"success":{"type":"boolean","title":"Success","description":"응답 상태"},"message":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Message","description":"응답 메시지"},"data":{"anyOf":[{"items":{"$ref":"#/components/schemas/GenerationAmountResponse"},"type":"array"},{"type":"null"}],"title":"Data"}},"type":"object","required":["success"],"title":"ApiResponse[List[GenerationAmountResponse]]"},"ApiResponse_List_PlantLinkListResponse__":{"properties":{"success":{"type":"boolean","title":"Success","description":"응답 상태"},"message":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Message","description":"응답 메시지"},"data":{"anyOf":[{"items":{"$ref":"#/components/schemas/PlantLinkListResponse"},"type":"array"},{"type":"null"}],"title":"Data"}},"type":"object","required":["success"],"title":"ApiResponse[List[PlantLinkListResponse]]"},"ApiResponse_PlantContractResponse_":{"properties":{"success":{"type":"boolean","title":"Success","description":"응답 상태"},"message":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Message","description":"응답 메시지"},"data":{"anyOf":[{"$ref":"#/components/schemas/PlantContractResponse"},{"type":"null"}]}},"type":"object","required":["success"],"title":"ApiResponse[PlantContractResponse]"},"ApiResponse_PlantGeoJSONResponse_":{"properties":{"success":{"type":"boolean","title":"Success","description":"응답 상태"},"message":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Message","description":"응답 메시지"},"data":{"anyOf":[{"$ref":"#/components/schemas/PlantGeoJSONResponse"},{"type":"null"}]}},"type":"object","required":["success"],"title":"ApiResponse[PlantGeoJSONResponse]"},"ApiResponse_PlantInfoResponse_":{"properties":{"success":{"type":"boolean","title":"Success","description":"응답 상태"},"message":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Message","description":"응답 메시지"},"data":{"anyOf":[{"$ref":"#/components/schemas/PlantInfoResponse"},{"type":"null"}]}},"type":"object","required":["success"],"title":"ApiResponse[PlantInfoResponse]"},"ApiResponse_PlantLinkResponse_":{"properties":{"success":{"type":"boolean","title":"Success","description":"응답 상태"},"message":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Message","description":"응답 메시지"},"data":{"anyOf":[{"$ref":"#/components/schemas/PlantLinkResponse"},{"type":"null"}]}},"type":"object","required":["success"],"title":"ApiResponse[PlantLinkResponse]"},"ApiResponse_PlantOverviewResponse_":{"properties":{"success":{"type":"boolean","title":"Success","description":"응답 상태"},"message":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Message","description":"응답 메시지"},"data":{"anyOf":[{"$ref":"#/components/schemas/PlantOverviewResponse"},{"type":"null"}]}},"type":"object","required":["success"],"title":"ApiResponse[PlantOverviewResponse]"},"BillingAmountResponse":{"properties":{"billing_month":{"type":"string","title":"Billing Month","description":"청구 연월 (YYYY-MM 형식)\n- 해당 청구 항목이 청구되는 기준 연월입니다.\n- 예: `'2025-03'` → 2025년 2월 발전량/거래 기준 정산"},"smp_billing_amount":{"type":"integer","title":"Smp Billing Amount","description":"SMP 청구 금액 (단위: 원)\n"},"rec_billing_amount":{"type":"integer","title":"Rec Billing Amount","description":"REC 고정가격계약 청구 금액 (단위: 원)\n- 발전소가 RPS 고정계약 또는 한국형 FIT 등 고정가격 계약에 참여한 경우 발생하는 청구 금액입니다.\n  대부분 월 단위로 동일한 계약조건으로 반복 청구됩니다.\n- 현물시장 거래인 경우에는 해당 필드는 null로 처리될 수 있습니다."}},"type":"object","required":["billing_month","smp_billing_amount","rec_billing_amount"],"title":"BillingAmountResponse"},"DocumentResponse":{"properties":{"document_id":{"type":"string","title":"Document Id","description":"문서 고유 ID"},"document_code":{"type":"string","title":"Document Code","description":"문서 고유 코드"},"document_name":{"type":"string","title":"Document Name","description":"문서 이름 (예: 준공도면, 토지대장 등)"},"file_name":{"type":"string","title":"File Name","description":"파일 이름"},"download_url":{"type":"string","title":"Download Url","description":"파일 다운로드 링크 (서명 URL 또는 외부 스토리지 링크-변경예정)"}},"type":"object","required":["document_id","document_code","document_name","file_name","download_url"],"title":"DocumentResponse"},"GenerationAmountResponse":{"properties":{"generation_month":{"type":"string","title":"Generation Month","description":"발전년월 (예: 202401)"},"generation_amount":{"type":"integer","title":"Generation Amount","description":"발전량 (kWh)"},"nearby_generation_amount":{"type":"integer","title":"Nearby Generation Amount","description":"지역평균 발전량 (kWh)"}},"type":"object","required":["generation_month","generation_amount","nearby_generation_amount"],"title":"GenerationAmountResponse"},"GeoPoint":{"properties":{"type":{"type":"string","title":"Type","default":"Point"},"coordinates":{"items":{"type":"number"},"type":"array","title":"Coordinates","description":"경도(Longitude), 위도(Latitude)"}},"type":"object","required":["coordinates"],"title":"GeoPoint"},"HTTPValidationError":{"properties":{"detail":{"items":{"$ref":"#/components/schemas/ValidationError"},"type":"array","title":"Detail"}},"type":"object","title":"HTTPValidationError"},"PlantContractResponse":{"properties":{"ppa_type":{"type":"string","title":"Ppa Type","description":"PPA 유형 (예: 한국전력공사, 전력거래소, 직접 PPA 등)"},"rec_trade_type":{"type":"string","title":"Rec Trade Type","description":"REC 거래 유형 (예: 고정가격계약, 현물시장 등)"},"rec_contracts":{"items":{"$ref":"#/components/schemas/RecFixedContractInfo"},"type":"array","title":"Rec Contracts","description":"REC 계약 목록"}},"type":"object","required":["ppa_type","rec_trade_type","rec_contracts"],"title":"PlantContractResponse"},"PlantFeature":{"properties":{"type":{"type":"string","title":"Type","default":"Feature"},"geometry":{"$ref":"#/components/schemas/GeoPoint"},"properties":{"$ref":"#/components/schemas/PlantFeatureProperties"}},"type":"object","required":["geometry","properties"],"title":"PlantFeature"},"PlantFeatureProperties":{"properties":{"plant_uuid":{"type":"string","title":"Plant Uuid","description":"발전소 UUID"},"plant_name":{"type":"string","title":"Plant Name","description":"발전소명"},"plant_address":{"type":"string","title":"Plant Address","description":"발전소 주소"},"plant_capacity":{"type":"number","title":"Plant Capacity","description":"발전소 설비 용량 (kW)"},"plant_owner":{"$ref":"#/components/schemas/PlantOwner"}},"type":"object","required":["plant_uuid","plant_name","plant_address","plant_capacity","plant_owner"],"title":"PlantFeatureProperties"},"PlantGeoJSONResponse":{"properties":{"type":{"type":"string","title":"Type","default":"FeatureCollection"},"features":{"items":{"$ref":"#/components/schemas/PlantFeature"},"type":"array","title":"Features"}},"type":"object","required":["features"],"title":"PlantGeoJSONResponse"},"PlantInfoResponse":{"properties":{"link_id":{"type":"string","title":"Link Id","description":"발전소 UUID"},"plant_name":{"type":"string","title":"Plant Name","description":"발전소명"},"plant_address":{"type":"string","title":"Plant Address","description":"발전소 주소"},"plant_capacity":{"type":"string","title":"Plant Capacity","description":"발전소 설비 용량 (kW)"},"plant_certified":{"type":"boolean","title":"Plant Certified","description":"발전소 설비확인 상태","default":false},"plant_geometry":{"$ref":"#/components/schemas/GeoPoint","description":"위치 정보 (Point)"},"plant_owner":{"$ref":"#/components/schemas/PlantOwner"}},"type":"object","required":["link_id","plant_name","plant_address","plant_capacity","plant_certified","plant_geometry","plant_owner"],"title":"PlantInfoResponse"},"PlantLinkListResponse":{"properties":{"link_id":{"type":"string","title":"Link Id","description":"해당 발전소 링크의 고유 식별자입니다.\n- 클라이언트가 연동 요청 시 직접 지정한 외부 시스템의 식별자(RTU ID, 매물번호 등)입니다.\n- 만약 연동 시 식별자를 지정하지 않았다면, 오솔라 발전소 UUID가 link_id로 사용됩니다.\n- 이 값은 이후 발전소 상세 조회, 수정, 삭제 시 참조 키로 사용됩니다."},"plant_name":{"type":"string","title":"Plant Name","description":"발전소명"},"plant_address":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Plant Address","description":"발전소 주소"},"remark":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Remark","description":"해당 연결에 대한 설명"},"created_at":{"anyOf":[{"type":"string"},{"type":"null"}],"format":"date-time","title":"Created At","description":"링크 생성 시각"}},"type":"object","required":["link_id","plant_name"],"title":"PlantLinkListResponse","examples":[{"plant_uuid":"7a7e0ce6-8415-43e6-b444-daee9a940b56","reference_id":"ref_001","remark":"RTU#01234234587 장치 연결"},{"plant_uuid":"7a7e0ce6-8415-43e6-b444-daee9a940b56","remark":"매물#012314 연결"}]},"PlantLinkRequest":{"properties":{"plant_uuid":{"type":"string","title":"Plant Uuid","description":"오솔라 플랫폼에 등록된 발전소의 고유 UUID입니다.\n- 발전소를 구분하는 내부 시스템 식별자로, 오솔라 시스템에서 자동 발급됩니다.\n"},"link_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Link Id","description":"외부 시스템(클라이언트)의 발전소 식별자입니다.\n- 예: RTU ID, 매물 번호 등 외부 시스템 내 고유 식별자\n- 이 값은 클라이언트별로 고유해야 하며, 이후 발전소 정보를 조회하거나 관리할 때 참조 키로 사용됩니다.\n\n※ 만약 해당 값을 입력하지 않으면 오솔라의 발전소 UUID(plant_uuid)가 대신 사용됩니다.\n→ 시스템은 항상 link_id를 클라이언트 단위로 고유하게 설정하여 정합성을 유지합니다."},"remark":{"type":"string","title":"Remark","description":"해당 발전소 연동 요청에 대한 추가 설명입니다.\n- 예: 장비 연결 목적, 연동 배경, 고객 비고 등\n- 관리자 또는 API 사용자에게 해당 연결의 용도나 의미를 전달하는 메모 역할을 합니다.\n\n"}},"type":"object","required":["plant_uuid","remark"],"title":"PlantLinkRequest"},"PlantLinkResponse":{"properties":{"link_id":{"type":"string","title":"Link Id","description":"발전소 링크의 고유 식별자입니다.\n- 클라이언트가 제공한 외부 식별자이거나, 시스템에서 plant_uuid를 대체 ID로 사용한 값입니다.\n- 이 값은 이후 조회, 수정, 삭제 등의 모든 참조 키로 사용됩니다."},"created_at":{"type":"string","format":"date-time","title":"Created At","description":"해당 링크가 생성된 일시입니다 (KST 기준 ISO 8601 형식 (예: 2024-05-16T14:12:00)"}},"type":"object","required":["link_id","created_at"],"title":"PlantLinkResponse","example":[{"created_at":"2024-05-16T14:12:00","link_id":"123456"},{"created_at":"2024-05-16T14:12:00","link_id":"7a7e0ce6-8415-43e6-b444-daee9a940b56"}]},"PlantOverviewResponse":{"properties":{"link_id":{"type":"string","title":"Link Id","description":"외부 시스템에서 정의한 발전소 참조 ID"},"plant_name":{"type":"string","title":"Plant Name","description":"발전소 이름"},"billing_summary":{"items":{"$ref":"#/components/schemas/BillingAmountResponse"},"type":"array","title":"Billing Summary","description":"월별 청구요약 (청구월, 청구일 포함)"},"recent_tasks":{"items":{"$ref":"#/components/schemas/TaskDetail"},"type":"array","title":"Recent Tasks","description":"최근 처리된 업무 이력"}},"type":"object","required":["link_id","plant_name","billing_summary","recent_tasks"],"title":"PlantOverviewResponse"},"PlantOwner":{"properties":{"business_number":{"type":"string","title":"Business Number","description":"사업자등록번호"},"firm_name":{"type":"string","title":"Firm Name","description":"사업자명"},"firm_address":{"type":"string","title":"Firm Address","description":"사업자 주소"},"representative_name":{"type":"string","title":"Representative Name","description":"대표자"}},"type":"object","required":["business_number","firm_name","firm_address","representative_name"],"title":"PlantOwner"},"RecFixedContractInfo":{"properties":{"ess":{"type":"boolean","title":"Ess","description":"ESS 고정가격계약 여부"},"target":{"type":"string","title":"Target","description":"고정가격계약 대상 (예: 동서발전, 한수원 등)"},"price_type":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Price Type","description":"고정기갹계약 가격 유형 (예: SMP+1REC)"},"price":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Price","description":"고정가격계약 가격 (예: 150000)"},"start_date":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Start Date","description":"고정가격계약 시작일 (YYYY-MM-DD)"},"end_date":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"End Date","description":"고정가격계약 종료일 (YYYY-MM-DD)"},"contract_years":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Contract Years","description":"고정가격계약 기간 (년)"}},"type":"object","required":["ess","target"],"title":"RecFixedContractInfo"},"TaskDetail":{"properties":{"date":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Date","description":"작업 일자 (YYYY-MM-DD)"},"name":{"type":"string","title":"Name","description":"작업 이름 (예: SMP 청구, REC 발급)"},"type":{"type":"string","enum":["REC_ISSUANCE","SMP_BILLING","REC_BILLING","REC_SPOT_TRADING"],"title":"Type","description":"작업 유형"},"status":{"type":"string","enum":["완료","진행중","실패","대기"],"title":"Status","description":"작업 상태"},"summary":{"type":"string","title":"Summary","description":"요약 정보 (예: '100 REC 수수료 5,500원')"},"value":{"type":"string","title":"Value","description":"세부값 (예: '발전량 10,000kW 공급가 10,000,000원')"}},"type":"object","required":["name","type","status","summary","value"],"title":"TaskDetail"},"ValidationError":{"properties":{"loc":{"items":{"anyOf":[{"type":"string"},{"type":"integer"}]},"type":"array","title":"Location"},"msg":{"type":"string","title":"Message"},"type":{"type":"string","title":"Error Type"}},"type":"object","required":["loc","msg","type"],"title":"ValidationError"}},"securitySchemes":{"APIKeyHeader":{"type":"apiKey","in":"header","name":"x-api-key"}}}}